.bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 289px;
  margin: 0 6%;
  background-color: @color-cat-bg;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  color: #ffffff;
  margin-bottom: 33px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.bonus__icon {
  margin-top: 65px;
  width: 56px;
  height: 60px;
}

.bonus__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  width: 170px;
  margin: 0 auto;
  margin-top: 62px;
}

@media (min-width: @tablet-width) {
  .bonus {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 200px;
    padding: 65px 114px 69px 89px;
    box-sizing: border-box;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin: 71px 4% 76px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .bonus__icon {
    margin: 0;
  }

  .bonus__text {
    margin: 0;
    text-align: left;
    margin-top: 6px;
    margin-left: 24px;
  }
}

@media (min-width: @desktop-width) {
  .bonus {
    min-width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .bonus__icon {
    margin-top: 65px;
  }

  .bonus__text {
    margin: 0;
    margin-bottom: 42px;
    text-align: center;
  }
}
