.example {
  display: flex;
  flex-direction: column;
  background-color: @color-program-back;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.example__inner {
  padding: 25px 6% 0;
}

.example__title {
  margin-bottom: 28px;
}

.example__text {
  margin-bottom: 24px;
  padding-right: 15px;
}

.example__sub-title {
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 16px;
  padding-left: 10px;
}

.example__sub-title b {
  font-weight: 400;
}

.example + .contact .contact__wrapper {
  background-color: white;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
  }

  .example__inner {
    padding: 1px 0 0;
  }

  .example__title {
    margin-top: 0;
    margin-left: 30px;
  }

  .example__text {
    padding: 26px 6% 15px 4%;
    margin: 0;
  }

  .example__sub-title {
    margin: 0;
    text-align: right;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    line-height: 30px;
    margin-top: 6px;

    @media (min-width: @tablet-width + 20px) {
      flex-direction: row;
      margin-top: 19px;

      b {
        margin-left: 5px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    flex-direction: row;
    box-sizing: border-box;
    min-width: @desktop-width;
    max-width: @max-width;
    margin-top: -1px;
    min-height: 651px;
  }

  .example__title {
    padding-top: 44px;
    margin-left: 40px;
  }

  .example__content {
    margin-top: 62px;
    background-color: @color-program-back;
    min-height: 461px;
    box-sizing: border-box;
    width: 1300px;
    padding: 72px 40px;
  }

  .example__text {
    margin: 0;
    width: 432px;
    padding: 0 40px 0 0;
    margin-bottom: 68px;
  }

  .example__sub-title {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 0;
  }

  .example__sub-title > b {
    margin-right: 39px;
  }
}
