.subtitle {
  font-size: 24px;
  line-height: 1.2;
  text-transform: none;
  color: @color-text-main;
  display: flex;
  margin: 0;
  justify-content: space-between;
  min-width: @mobile-width;
  font-weight: 400;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  span {
    padding: 0 22px 2px 6%;
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: @color-accent;
    height: 3px;
    width: 100%;
    top: 16px;
    left: 0;
    z-index: -1;
  }
}

@media (min-width: @tablet-width) {
  .subtitle {
    font-size: 36px;
    margin-bottom: 76px;

    span {
      padding: 0 37px 0 8.7%;
    }

    &::before {
      content: "";
      background-color: @color-accent;
      height: 3px;
      width: 4%;
      margin-right: 39px;
      display: flex;
      position: absolute;
      top: 26px;
      left: 0;
    }

    &::after {
      top: 26px;
    }
  }
}

@media (min-width: @desktop-width) {
  .subtitle {
    margin: 9px auto 77px;
    max-width: @max-width;

    span {
      padding-left: 3%;
      padding-right: 36px;
      margin-left: 0;
    }

    &::before {
      content: none;
      left: -3%;
      width: 5%;
    }

    &::after {
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}
