body {
  font-family: "oswald", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  min-width: @mobile-width;
  color: @color-text-main;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-size: 36px;
  line-height: 1.4;
  color: @color-text-main;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.text {
  font-family: "Arial", "Helvetica", sans-serif;
  color: @color-text-second;
  line-height: 18px;
}

.no-js-map {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 300px;

  .ymaps-2-1-74-map {
    display: none;
  }

  .contact__map-img {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    display: flex;
    background-image: url("../img/map-pin.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 62px;
    height: 53px;
    z-index: 2;
    top: 140px;
    left: 129px;
  }
}

@media (min-width: @tablet-width) {
  .title {
    font-size: 60px;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .no-js-map::after {
    width: 124px;
    height: 106px;
    top: 142px;
    left: 333px;
  }
}

@media (min-width: @desktop-width) {
  .no-js-map::after {
    top: 148px;
    left: 929px;
  }
}
