@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
@color-text-main: #111111;
@color-text-second: #444444;
@color-line: #e6e6e6;
@color-line-second: #DADADA;
@color-accent: #68b738;
@color-accent-hover: #5eaa2f;
@color-program-back: #f2f2f2;
