.btn {
  min-height: 40px;
  color: white;
  font-size: 14px;
  background-color: @color-accent;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 0;
  box-sizing: border-box;
  z-index: 2;

  &:hover {
    background-color: @color-accent-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.link-arrow {
  padding: 0;
  font-size: 16px;
  color: @color-text-main;
  line-height: 1.5;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  align-items: center;


  &::after {
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    width: 25px;
    height: 12px;
    margin-left: 11px;
  }

  &:hover {
    &::after {
      content: "";
      background-image: url("../img/icon-right-arrow-verylong.svg");
      width: 34px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .btn {
    font-size: 20px;
    min-height: 52px;
    padding: 15px 28px;
  }

  .link-arrow {
    font-size: 20px;

    &::after {
      margin-left: 23px;
    }
  }
}
