.headliner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  min-height: 355px;
  box-sizing: border-box;
  position: relative;
  padding-top: 28px;
}

.headliner::before {
  content: url("../img/index-background-mobile@1x.jpg");
  background-color: @color-accent;
  width: 320px;
  height: 305px;
  position: absolute;
  z-index: 0;
  top: 0;
}

.headliner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  z-index: 3;
}

.headliner__sub-title {
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
}

.headliner__sub-img {
  z-index: 2;
  width: 95%;
  margin-top: 25px;
  margin-right: 22px;
}

.headliner .btn {
  min-width: 280px;
  margin-bottom: 21px;
}


@media (min-width: @tablet-width) {
  .headliner {
    color: @color-text-main;
    align-items: flex-start;
    margin-top: 6px;
    padding-left: 118px;
    min-height: 838px;
  }

  .headliner::before {
    display: none;
  }

  .headliner__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
  }

  .headliner__sub-title {
    font-size: 20px;
    margin-bottom: 47px;
  }

  .headliner__sub-img {
    position: absolute;
    top: 205px;
    left: 30px;
    width: 709px;
  }

  .headliner .btn {
    min-width: auto;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .headliner {
    margin: 0 auto;
    width: @desktop-width;
    padding: 53px 189px;
    min-height: 527px;
  }

  .headliner::before {
    content: "";
    display: block;
    position: absolute;

    width: 720px;
    height: 696px;
    top: -169px;
    left: 50%;
    z-index: -1;

    background-color: @color-accent;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headliner__title {
    margin-bottom: 40px;
  }

  .headliner__sub-title {
    margin-bottom: 50px;
  }

  .headliner__sub-img {
    width: 552px;
    top: -53px;
    left: 560px;
  }
}
