.headliner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @color-accent;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  padding-top: 28px;
  height: 305px;
}

.headliner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.headliner__sub-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
